<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="/img/srcset/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="/img/logo-high-resolution.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/Asset 8.png' | append: site.github.build_revision | relative_url }}">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}assets/images/favicon.ico" > -->
    {% include head-custom.html %}
    <div class="floating" style="float: right; margin-top: 30px; margin-right: 30px;">
      <a href="{{ 'contents/signup.html' | append: site.github.build_revision | relative_url }}">Contact Me</a>
    </div>


  </head>

  <body>
    <style>
      a {
        color: #ffffff;
        text-decoration: none;
        text-shadow: 0 0 5px #ffffff;
      }
    </style>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>